<h1>My Cook Book</h1>

<p id="notice"><%= notice %></p>

<!--div class="container">
<%= react_component('Recipes', recipes: @recipes) %>
<br/>
<%= link_to 'New Recipe', new_recipe_path %>
</div-->

<div class="container">
<table id="recipes">
  <thead>
    <tr>
      <th colspan="2">Original Recipes</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= link_to recipe do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td><%= link_to edit_recipe_path(recipe) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        </td>
        <td><%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


<div>
  <div>Search by Cruisine</div>
  <div>Search by Meal Type</div>
  <div>Search by Tags</div>
</div>