<h1><%= @recipe.name %></h1>

<p id="notice"><%= notice %></p>

<div class="container">
<p>
  <label>Ingredients</label>
  <pre><%= @recipe.ingredients %></pre>
</p>

<p>
  <label>Recipe</label>
  <pre><%= @recipe.recipe %></pre>
</p>

<p>
  <label>Cruisine</label>
  <%= @recipe.cruisine %>
</p>

<p>
  <label>Meal type</label>
  <%= @recipe.meal_type %>
</p>

<p>
  <label>Tags</label>
  <%= @recipe.tags %>
</p>
</div>

<div class="links">
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
</div>
